{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "at-rule-empty-line-before": [
      "always",
      {
        "ignore": [
          "after-comment",
          "inside-block"
        ],
        "ignoreAtRules": [
          "content",
          "each",
          "else",
          "extend",
          "if",
          "import",
          "include",
          "for",
          "media",
          "mixin",
          "return"
        ]
      }
    ],
    "at-rule-name-space-after": "always",
    "block-opening-brace-space-before": "always",
    "block-closing-brace-newline-after": "always",
    "scss/at-rule-no-unknown": true,
    "scss/at-else-empty-line-before": "never",
    "number-leading-zero": "never"
  }
}